#dashboardWrapper{
    display: flex;
}
#sidebar{
    border-right:2px solid black;
    height:100vh;
    width: 20vw;
    background-color: #291f60;
    color:white;
}
#dashboardlogowrapper{
    border-bottom:1px solid black;
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#DashboardLogo{
    width:5vw;
}
#infoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding:2vh 0;
    height:20vh;
    border-bottom:1px solid black;
}
#infoWrapper img{
    height: 70%;
}
#dashboardNavigation{
    height:40vh;
}
#dashboardNavigation ul{
list-style-type: none;
}
#dashboardNavigation li{
    border-bottom: 1px solid black;
    font-size: 1.5em;
    padding:1vh 0;
    text-align: center;
}
#dashboardNavigation li:hover{
    background-color: white;
    color:#291f60;
    cursor: pointer;
}
#dashboardNavigation a{
    color:inherit;
    text-decoration: none;
}
#rightDashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#Dashboardheader{
    border-bottom:1px solid rgba(0, 0, 0, 0.378);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding:2vh 1vw;
}

#currentOffersList{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#currentOffersList table{
    border:2px solid black;
    border-radius: 20px;
    padding:2vh 4vw;
    width: 80%;
    height:70%;
    font-size: 20px;
    overflow-y: scroll;
}
#currentOffersList td,th{
    text-align: center;
}
.dataHold{
    border:2px solid black;
}
#buttonGroupDashboard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#buttonGroupDashboard button{
    font-size: 20px;
    border-radius: 16px;
    padding:1vh 1vw;  
    border: none;  
    cursor: pointer;
}