body{
    background-color: white;
}

.container{
    width:100%;
}

.first, .second{
    float:left;
    text-align: left;
    padding: 20px;
    display: flex;
    justify-content: center; 
}

.first{
    background-color: white;
    float: left;
    width: 40%;
    margin-top: 0px;
}
h2{
    text-align: center;
  }git push
  h3{
    text-align: center;
  }

.second{
    float: right;
    color: white;
    background-color: rgb(4, 4, 86);
    border: 2px solid rgb(8, 8, 135);
    width: 45%;
    border-radius: 25px;;
    margin-right: 15px;
    margin-top: 15px;
    height: 660px;
    
}

.image{
    margin-top: 100px;
}
.form-label{
    width: 100%;
   
}