#adminWrapper{
    height:100vh;
}
#adminHeader{
    height:10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#logoAdmin{
    height:100%;
}
#adminIcons{
    display: flex;
    justify-content: flex-end;
}
#bell{
    height:30%;
    margin-left: 2vw;
}
#adminPFP{
    width:5%;
}
#lowerAdmin{
    border:2px solid black;
    height:88vh;
    display: flex;
}
#sidebarAdmin{
    width:12vw;
}
#adminNavigation{
    height:40%;
}
#adminNavigation ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:100%;
}
#adminNavigation a{
    color:inherit;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
#adminNavigation li{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:1vh 0;
}
#adminRight{
    background-color: #dce5fd;
    width: 100%;
    padding:2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.active{
    color:white;
    background-color: #3f0097;
}
#adminNavigation li:hover{
    background-color: rgba(128, 128, 128, 0.412);
    border-left: 4px solid rgb(90, 88, 88);
}
#listOfCompanies{
    border:2px solid black;
    width:60%;
    background-color: white;
    border-radius: 20px;
    padding:1vh;
}
#listOfCompanies h1{
    border-bottom: 2px solid #6975c2;
    padding-bottom: 1vh;
    color:#5500cb;
}

#addCompanyForm{
    border:2px solid black;
    width:50%;
}
#formJTCompanyHolder{
    display: flex;
    justify-content: space-evenly;
}
#formJTCompanyHolder input{
   width:10vw;
}